	<div class="window active">
		<div class="page-header">
			<div class="row row-eq-height">
				<div class="col-sm-1 hidden-xs"></div>
				<div class="col-sm-5 col-xs-12">
					<h3>Besuchserfassung</h3></div>
				<div class="col-sm-5 col-xs-12 col-center"><img src="img/logo.jpg" class="img-responsive center-block"></div>
				<div class="col-sm-1 hidden-xs"></div>
			</div>			
		</div>
		<div class="row">
			<div class="col-sm-2 col-md-3"></div>
			<div class="col-sm-8 col-md-6 dashbord-box">
        <form (ngSubmit)="onLogin()">
				<div class="row">
					<p></p>
					<div class="col-sm-1 col-md-2"></div>
					<label for="username" class="col-sm-2 col-xs-5 control-label ">Benutzer:</label>
					<div class="col-xs-7 col-sm-6 col-md-5">
						<input type="text" [(ngModel)]="username" id="username" name="username" class="form-control" value="admin">
					</div>
				</div>
				<p></p>
				<div class="row">
					<div class="col-sm-1 col-md-2"></div>
					<label for="password" class="col-md-2 col-sm-2 col-xs-5 control-label">Passwort:</label>
					<div class="col-xs-7 col-sm-6 col-md-5">
						<input type="password" [(ngModel)]="password" id="password" name="password" class="form-control" value="admin">
					</div>
				</div>
		
				<p></p>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10 text-center">
						<strong>Bitte auf Gross / Kleinschreibung achten</strong>
					</div>
				</div>
				<p></p>
				<div class="row">
					<div class="col-xs-1 col-md-2"></div>
					<div class="col-xs-5 col-md-4 text-center"> <button type="submit" class="btn btn-danger btn-block ">Anmelden</button></div>
					<div class="col-xs-5 col-md-4 text-center"> <button id="btnPwReset" class="btn btn-default btn-block ">Passwort zurücksetzen</button></div>
				</div>
				<p></p>
        </form>
			</div>
		</div>
	</div> <!--window loginForm-->